extends layout

block content
  div.theContainer
    div.paper
      h1.h1Login Reset Password
      form(method="POST" class="forgotForm")
        div.mb-3
          label(for="password" class="labels") New Password
          input.form-control(type="password", name="password" value="" )
        div.mb-3
          label(for="confirmPassword" class="labels") Confirm Password
          input.form-control(type="password", name="confirmPassword", value='')
        if errors
          div.mb-3
            ul.errorList
              for error in errors
                li.text-danger!= error.msg
        div.mb-3(class='formActions')
          button.btn.btn-primary(type="submit" class="theButton") Update Password