extends layout

block content
  h1= title
  p Welcome to my Node Express Loading Page
  p Here you will find a variety of project links, enjoy!
  a(href="/firstProject") Oding Project: Simple Node Website </br>
  a(href="/secondProject") Odin Project: Simple MessageBoard </br>
  a(href="/thirdProject") Library Inventory Website </br>
  a(href="/fourthProject") Odin Project: Inventory Application </br>
