extends layout

block content
  h1= title
  p Welcome to my Node Express Loading Page
  p Here you will find a variety of project links, enjoy!
  a(href="/firstProject") Simple Node Website </br>
  a(href="/secondProject") Simple MessageBoard </br>
  a(href="/thirdProject") Library Inventory Website </br>
