extends layout

block content
  h1 #{title}

  form(method='POST' action='')
    div.form-group
      label(for='name') Name:
      input#name.form-control(type='text', placeholder='Starships, New Unit Designation, Forerunner Tech' name='name' value=(undefined===category ? '': category.name))
    div.form-group
      label(for='description') Description:
      input#description.form-control(type='input', placeholder='Description of Category' name='description' value=(undefined===category ? '': category.description))
    button.btn.btn-primary(type='submit') Submit
  
  if errors
    ul
      for error in errors
        li!= error.msg