extends layout

block content
  h1=title
  p Here's where you will find the categories needed to construct the most optimal troupe

  ul
    each category in category_list
      li
        a(href=category.url) #{category.name}
    
    else
      There are no categories