doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.navbar.navbar-light(class="navbar-right")
      a(href="/" class="navbar-brand" style="color: blue; margin-left: auto;") Home
    div(class='container-fluid')
      div(class='row')
        div(class='col-sm-2')
          block sidebar
            ul(class='sidebar-nav')
              li 
                a(href='/fourthProject') Home
              li 
                a(href='/fourthProject/category') All Categories
              li 
                a(href='/fourthProject/item') All Items
              li 
                hr
              li
                a(href='/fourthProject/new/category') Create a new category
              li 
                a(href='/fourthProject/new/item') Create a new item
                
        div(class='col-sm-10')
          block content