extends layout

block content
  h1 Home Page
  p Here are the goodies on the home page!
  a(href='/firstProject/about') About Page <br/>
  a(href='/firstProject/contact-me') Contact Me Page <br/>
  a(href='/firstProject/dogs>cats') 404 Page