doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.navbar.navbar-light(class="navbar-right")
      a(href="/" class="navbar-brand" style="color: blue; margin-left: auto;") Home
    div(class='container-fluid')
      div(class='row')
        div(class='col-sm-2')
          block sidebar
            ul(class='sidebar-nav')
              li 
                a(href='/thirdProject') Home
              li 
                a(href='/thirdProject/books') All books
              li 
                a(href='/thirdProject/authors') All authors
              li 
                a(href='/thirdProject/genres') All genres
              li 
                a(href='/thirdProject/bookinstances') All book-instances
              li 
                hr
              li 
                a(href='/thirdProject/author/create') Create new author
              li 
                a(href='/thirdProject/genre/create') Create new genre
              li 
                a(href='/thirdProject/book/create') Create new book
              li 
                a(href='/thirdProject/bookinstance/create') Create new book instance (copy)
                
        div(class='col-sm-10')
          block content